<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <h1>Profil de <%= @user.first_name %> </h1>
        <p>
            prénom : <%= @user.first_name %><br/>
            nom : <%= @user.last_name %><br/>
            description : <%= @user.description %><br/>
            e-mail : <%= @user.email %><br/>
            age : <%= @user.age %><br/>
            Ville : <%= @user.city.name %><br/>
            <button class="btn btn-light rounded-pill" type="button"> <%= link_to "Ville", city_path(@user.city)%>  </button>
        </p>
    </div>
<div>
</div>
