<h1>Gossips#show</h1>
<p>Find me in app/views/gossips/show.html.erb</p>
<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class ="px-3">
        <h1> <%= @gossip.title %> </h1>
            <p class="lead fs-1"> <%= @gossip.content %> </p>
            <p class="small"> <%= @gossip.created_at %> </p>
            <button class="btn btn-lg btn-light"> <%= link_to "Auteur", user_path %>: <%= @gossip.user.first_name%> <%= @gossip.user.last_name %> </button>
            <button class="btn btn-lg btn-light"> <%= link_to "Ville", city_path(@gossip.user.city) %>: <%= @gossip.user.city.name%> <%= @gossip.user.city.zip_code %> </button>
            <button class="btn btn-lg btn-light small"><%= link_to "édit", edit_gossip_path(@gossip) %> </button>
            <button class="btn btn-lg btn-light small"><%= link_to "Supprimer le potin", @gossip.delete %> </button>
        </main>
    </div>
</div>